# **Decision_tree_regressor **

In [1]:
import seaborn as sns
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

#load the dataset from seaborn
diamonds = sns.load_dataset('diamonds')

In [2]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
#select feature and target variables
X = diamonds[['carat','cut','clarity',]] 
y = diamonds['price']

In [4]:
#Encode categorical features
X= pd.get_dummies(X) #ye parameter ko 0,1 0,1 me ly jata hy

#split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=42)

#Train the decision tree model
model = DecisionTreeRegressor(max_depth=3) #depth matlab kitni nodes agy jana chaye ya kitni classification honi chaye, hm different depth de k dekhy gy jis se accuracy zyda aye gi wo de gy ye hypermater tuning me hota hy

#fit the model to the training data
model.fit(X_train, y_train)

#Evaluate the model
train_score = model.score(X_train,y_train)
test_score = model.score(X_test, y_test)
print(f"Training accuracy: {train_score:.2f}")
print(f"Testing accuracy: {test_score:.2f}")

Training accuracy: 0.87
Testing accuracy: 0.87

In [5]:
#Encode categorical features
#X= pd.get_dummies(X) #ye parameter ko 0,1 0,1 me ly jata hy
#working of get_dummies 
#label encoding ek hi colum me deti hy 1,2,3,4
#ye har catageory ko eleda colum me convert krti one hot encoding ki trha ye har category ka aledha colmb bna deti hy
#estrha data augment ho jata hy accuracy bhi ashi ho jati hy
X

,carat,cut_Ideal,cut_Premium,cut_Very Good,cut_Good,cut_Fair,clarity_IF,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.23,1,0,0,0,0,0,0,0,0,0,0,1,0
1,0.21,0,1,0,0,0,0,0,0,0,0,1,0,0
2,0.23,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0.29,0,1,0,0,0,0,0,0,0,1,0,0,0
4,0.31,0,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,1,0,0,0,0,0,0,0,0,0,1,0,0
53936,0.72,0,0,0,1,0,0,0,0,0,0,1,0,0
53937,0.70,0,0,1,0,0,0,0,0,0,0,1,0,0
53938,0.86,0,1,0,0,0,0,0,0,0,0,0,1,0
53939,0.75,1,0,0,0,0,0,0,0,0,0,0,1,0

# **DecisionTreeClassifier**

esmy binary aur multiclass clasification krty hy.

In [6]:
import seaborn as sns
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

#load the dataset from seaborn
diamonds = sns.load_dataset('diamonds')

#select feature and target variables
X = diamonds[['carat','price','cut','color','clarity']] 
y = diamonds['cut']
#Encode categorical features
X= pd.get_dummies(X) #ye parameter ko 0,1 0,1 me ly jata hy

#split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=42)

#Train the decision tree model
model = DecisionTreeClassifier()

#fit the model to the training data
model.fit(X_train, y_train)

#Evaluate the model
train_score = model.score(X_train,y_train)
test_score = model.score(X_test, y_test)
print(f"Training accuracy: {train_score:.2f}")
print(f"Testing accuracy: {test_score:.2f}")

Training accuracy: 1.00
Testing accuracy: 1.00

In [7]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# **Decision_tree_classifier**

In [13]:
import seaborn as sns
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#load the dataset from seaborn
diamonds = sns.load_dataset('diamonds')
#also other method to upload data
#diamonds = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds")

#another way of encoding means another way of converting categories  variable into numerical vaalues
#encoding types: hot encoding, label encoding,get dames
diamonds["cut"]= diamonds["cut"].astype('category').cat.codes
diamonds["color"]= diamonds["color"].astype('category').cat.codes
diamonds["clarity"]= diamonds["clarity"].astype('category').cat.codes  #.cat category hy .pandas ye kam krta hy

In [14]:
diamonds.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    0      1        6   61.5   55.0    326  3.95  3.98  2.43
1   0.21    1      1        5   59.8   61.0    326  3.89  3.84  2.31
2   0.23    3      1        3   56.9   65.0    327  4.05  4.07  2.31
3   0.29    1      5        4   62.4   58.0    334  4.20  4.23  2.63
4   0.31    3      6        6   63.3   58.0    335  4.34  4.35  2.75

In [15]:
#split the data into trining and testing sets
#cut ko classify krny k liye
X = diamonds.drop(columns=["cut"]) #cut colmb l ilawa sary colmb ly liye,cut k ilawa baki chezo ko drop kr diya ,cut k ilawa baki chzy x me a gai, dosry treqy me hm sb ko likhty hy lekn es treqy me ek ko dropp kr iya
y = diamonds["cut"]  #y me cut kko rkh liya
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=1)

#initialize the decision tree classifier
clf = DecisionTreeClassifier(random_state=1)


#train the model on the training data
clf.fit(X_train, y_train)

#make predictionson the testing data
y_pred = clf.predict(X_test)

#evalute the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("accuracy:", accuracy)

accuracy: 0.7111605487578792

to draw the model we have dataviz package through graph viz jo k sklearn.tree se niklta hy

In [19]:
from sklearn.tree import export_graphviz
#visiualize the decision tree
dot_data = export_graphviz(clf, out_file=None, feature_names = X.columns, class_names=y.unique(), filled=True, rounded=True, special_characters=True)
with open("diamonds_tree.dot","w") as f:
  f.write(dot_data)

TypeError: ignored